extends layout

block scripts
  script(src='//cdn.jsdelivr.net/ace/1.1.8/min/ace.js', type='text/javascript')
  script(src='/socket.io/socket.io.js', type='text/javascript')

block body
  #app!= markup
  script#initialData(data-json='#{data}', type='text/plain')
  script(src='/index.js', type='text/javascript')
