doctype html
html
  head
    meta(charset='utf-8')
    title ignite
    style.
      html, body {
        margin: 0;
        padding: 0;
      }
  body
    #app!= markup
    script(src='/index.js', type='text/javascript')
